.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-radius: 5px;
  width: 100vh;
  border: 1px solid;
  padding: 5px;
  position: absolute;
  left: 25%;
  margin-top: 5vh;

}
td{
  border-radius: 5px;
  border: 1px solid;
  width: 60vh;
  height: 4vh;
}
#search{
  width: 100vh;
  height: 4vh;
  border: 1px solid;
  border-radius: 5px;
}
h1{
  background-color: rgb(176, 0, 176);
  color: aliceblue;
}
button{
  margin-top: 3vh;
  height: 5vh;
  border-radius: 5px;
  border: none;
  background-color: plum;
  width: 20vh;
}

form{
  border:none;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}
#date{
  width: 40vh;
  height: 5vh;
}